*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background:linear-gradient(rgba(154, 112, 112, 0.8),rgba(119, 180, 176, 0.8)), url(https://media.istockphoto.com/id/1368169112/vector/money-green-seamless-pattern-vector-background-included-line-icons-as-piggy-bank-wallet.jpg?s=612x612&w=0&k=20&c=qjIUpnUPtiKGBgLnXGLQ_4qQUq36OvP82DIFTAdch70=) ;
    
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    text-align: center;
    margin-bottom: 30px;
}

.form-container{
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
}

.form-group{
    margin-bottom: 15px;
}

.form-group label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input{
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.submit-btn{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #d62828;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover{
    background-color: black;
}

p{
    margin-top: 15px;
}

